<%= javascript_include_tag "main" %>
<%= javascript_include_tag "sms_queue" %>


<button type="button" class="btn btn-danger btn-xs" onclick="delete_sms_queue()">Очистить очередь (удалить неотправленные)</button>
<button type="button" class="btn btn-success btn-xs" onclick="send_sms_queue()">Отправить очередь</button>

<br />  <br />
<table class="table table-bordered table-condensed">
  <thead>
  <tr>
    <th>#</th>
    <th>Клиент</th>
    <th class="col-md-1">Договор</th>
    <th class="col-md-1">СМС шлюз</th>
    <th class="col-md-1">Телефон</th>
    <th>Текст</th>

  </tr>
  </thead>
  <tbody id="table_d" name="table_d">
  <% @form_data[:sms_queue].each.with_index do |sms, index| %>
    <tr>
        <td><%= index+1 %></td>
        <td><%= Client.find(sms.client_id).fio %></td>
        <td><%= Client.find(sms.client_id).dogovor %></td>
        <td><%= SmsService.find(sms.sms_service_id).name %></td>
        <td><%= sms.phone %></td>
        <td><%= sms.text %></td>

    </tr>
  <% end %>

  </tbody>
</table>

