<%= javascript_include_tag "main" %>
<%= javascript_include_tag "distribution_file_edit" %>


<%
    select_text = '
        <option value=""></option>
        <option value="s_00">s_00</option>
        <option value="s_01">s_01</option>
        <option value="s_02">s_02</option>
        <option value="s_03">s_03</option>
        <option value="s_04">s_04</option>
        <option value="s_05">s_05</option>
        <option value="s_06">s_06</option>
        <option value="s_07">s_07</option>
        <option value="s_08">s_08</option>
        <option value="s_09">s_09</option>
        <option value="s_10">s_10</option>
        <option value="s_11">s_11</option>
        <option value="s_12">s_12</option>
        <option value="s_13">s_13</option>
        <option value="s_14">s_14</option>
        <option value="s_15">s_15</option>
        <option value="s_16">s_16</option>
        <option value="s_17">s_17</option>
        <option value="s_18">s_18</option>
        <option value="s_19">s_19</option>
        <option value="s_20">s_20</option>
        <option value="s_21">s_21</option>
        <option value="s_22">s_22</option>
        <option value="s_23">s_23</option>
        <option value="s_24">s_24</option>
        <option value="s_25">s_25</option>
        </select>'
%>

<form class="form-horizontal" role="form" id="filter_form" name="filter_form">

  <div class="form-group">
    <label for="fio" class="col-sm-2 control-label">ФИО</label>
    <div class="col-sm-10">
      <%== '<select name="s_fio" id="s_fio" class="form-control">' %><%== select_text %>
    </div>
  </div>

  <div class="form-group">
    <label for="dogovor" class="col-sm-2 control-label">Договор</label>
    <div class="col-sm-10">
      <%== '<select name="dogovor" id="dogovor" class="form-control">' %><%== select_text %>
    </div>
  </div>

  <div class="form-group">
    <label for="phone" class="col-sm-2 control-label">Телефон</label>
    <div class="col-sm-10">
      <%== '<select name="phone" id="phone" class="form-control">' %><%== select_text %>
    </div>
  </div>

  <div class="form-group">
    <label for="sum_main" class="col-sm-2 control-label">Общий долг</label>
    <div class="col-sm-10">
      <%== '<select name="sum_main" id="sum_main" class="form-control">' %><%== select_text %>
    </div>
  </div>

  <div class="form-group">
    <label for="sum_plat" class="col-sm-2 control-label">Расчетный платеж</label>
    <div class="col-sm-10">
      <%== '<select name="sum_plat" id="sum_plat" class="form-control">' %><%== select_text %>
    </div>
  </div>

  <div class="form-group">
    <label for="addr" class="col-sm-2 control-label">Адрес</label>
    <div class="col-sm-10">
      <%== '<select name="addr" id="addr" class="form-control">' %><%== select_text %>
    </div>
  </div>

  <div class="form-group">
    <label for="contact" class="col-sm-2 control-label">Контактные лица</label>
    <div class="col-sm-10">
      <%== '<select name="contact" id="contact" class="form-control">' %><%== select_text %>
    </div>
  </div>

  <div class="form-group">
    <label for="list_name" class="col-sm-2 control-label">Наименование листа</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="list_name" id="list_name" placeholder="Если не заполнить, будет аналогично имени файла">
    </div>
  </div>

  <div class="form-group">
    <label for="filter_agent" class="col-sm-2 control-label">Фильтр по агенту</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="filter_agent" id="filter_agent">
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Создать глобальный лист</button>
    </div>
  </div>
</form>





<div class="panel panel-success">
  <div class="panel-heading">Строки файла</div>


  <table class="table table-bordered table-condensed">
    <thead>
    <tr>
      <th>#</th>
      <th>s_00</th>
      <th>s_01</th>
      <th>s_02</th>
      <th>s_03</th>
      <th>s_04</th>
      <th>s_05</th>
      <th>s_06</th>
      <th>s_07</th>
      <th>s_08</th>
      <th>s_09</th>
      <th>s_10</th>
      <th>s_11</th>
      <th>s_12</th>
      <th>s_13</th>
      <th>s_14</th>
      <th>s_15</th>
      <th>s_16</th>
      <th>s_17</th>
      <th>s_18</th>
      <th>s_19</th>
      <th>s_20</th>
      <th>s_21</th>
      <th>s_22</th>
      <th>s_23</th>
      <th>s_24</th>
      <th>s_25</th>

      <th>Действия</th>
    </tr>
    </thead>
    <tbody>

    <% @form_data[:file_strings].each.with_index do |file_string, index| %>
        <tr>
          <td><%= index+1 %><button type="button" class="btn btn-danger btn-xs"><i class="glyphicon glyphicon-trash"></i></button></td>
          <td><%= file_string.s_00 %></td>
          <td><%= file_string.s_01 %></td>
          <td><%= file_string.s_02 %></td>
          <td><%= file_string.s_03 %></td>
          <td><%= file_string.s_04 %></td>
          <td><%= file_string.s_05 %></td>
          <td><%= file_string.s_06 %></td>
          <td><%= file_string.s_07 %></td>
          <td><%= file_string.s_08 %></td>
          <td><%= file_string.s_09 %></td>
          <td><%= file_string.s_10 %></td>
          <td><%= file_string.s_11 %></td>
          <td><%= file_string.s_12 %></td>
          <td><%= file_string.s_13 %></td>
          <td><%= file_string.s_14 %></td>
          <td><%= file_string.s_15 %></td>
          <td><%= file_string.s_16 %></td>
          <td><%= file_string.s_17 %></td>
          <td><%= file_string.s_18 %></td>
          <td><%= file_string.s_19 %></td>
          <td><%= file_string.s_20 %></td>
          <td><%= file_string.s_21 %></td>
          <td><%= file_string.s_22 %></td>
          <td><%= file_string.s_23 %></td>
          <td><%= file_string.s_24 %></td>
          <td><%= file_string.s_25 %></td>
          <td>


          </td>
        </tr>
    <% end %>


    </tbody>
  </table>


</div>

