<%= javascript_include_tag "main" %>
<%= javascript_include_tag "client" %>

<ul class="pagination">

  <li <%= @form_data[:id]==nil ? 'class=active' :'' %> ><a href='/client/index/'>Все</a></li>
  <li <%= @form_data[:id]=='А' ? 'class=active' :'' %> ><a href='/client/index/А'>А</a></li>
  <li <%= @form_data[:id]=='Б' ? 'class=active' :'' %> ><a href='/client/index/Б'>Б</a></li>
  <li <%= @form_data[:id]=='В' ? 'class=active' :'' %> ><a href='/client/index/В'>В</a></li>
  <li <%= @form_data[:id]=='Г' ? 'class=active' :'' %> ><a href='/client/index/Г'>Г</a></li>
  <li <%= @form_data[:id]=='Д' ? 'class=active' :'' %> ><a href='/client/index/Д'>Д</a></li>
  <li <%= @form_data[:id]=='Е' ? 'class=active' :'' %> ><a href='/client/index/Е'>Е</a></li>
  <li <%= @form_data[:id]=='Ё' ? 'class=active' :'' %> ><a href='/client/index/Ё'>Ё</a></li>
  <li <%= @form_data[:id]=='Ж' ? 'class=active' :'' %> ><a href='/client/index/Ж'>Ж</a></li>
  <li <%= @form_data[:id]=='З' ? 'class=active' :'' %> ><a href='/client/index/З'>З</a></li>
  <li <%= @form_data[:id]=='И' ? 'class=active' :'' %> ><a href='/client/index/И'>И</a></li>
  <li <%= @form_data[:id]=='Й' ? 'class=active' :'' %> ><a href='/client/index/Й'>Й</a></li>
  <li <%= @form_data[:id]=='К' ? 'class=active' :'' %> ><a href='/client/index/К'>К</a></li>
  <li <%= @form_data[:id]=='Л' ? 'class=active' :'' %> ><a href='/client/index/Л'>Л</a></li>
  <li <%= @form_data[:id]=='М' ? 'class=active' :'' %> ><a href='/client/index/М'>М</a></li>
  <li <%= @form_data[:id]=='Н' ? 'class=active' :'' %> ><a href='/client/index/Н'>Н</a></li>
  <li <%= @form_data[:id]=='О' ? 'class=active' :'' %> ><a href='/client/index/О'>О</a></li>
  <li <%= @form_data[:id]=='П' ? 'class=active' :'' %> ><a href='/client/index/П'>П</a></li>
  <li <%= @form_data[:id]=='Р' ? 'class=active' :'' %> ><a href='/client/index/Р'>Р</a></li>
  <li <%= @form_data[:id]=='С' ? 'class=active' :'' %> ><a href='/client/index/С'>С</a></li>
  <li <%= @form_data[:id]=='Т' ? 'class=active' :'' %> ><a href='/client/index/Т'>Т</a></li>
  <li <%= @form_data[:id]=='У' ? 'class=active' :'' %> ><a href='/client/index/У'>У</a></li>
  <li <%= @form_data[:id]=='Ф' ? 'class=active' :'' %> ><a href='/client/index/Ф'>Ф</a></li>
  <li <%= @form_data[:id]=='Х' ? 'class=active' :'' %> ><a href='/client/index/Х'>Х</a></li>
  <li <%= @form_data[:id]=='Ц' ? 'class=active' :'' %> ><a href='/client/index/Ц'>Ц</a></li>
  <li <%= @form_data[:id]=='Ч' ? 'class=active' :'' %> ><a href='/client/index/Ч'>Ч</a></li>
  <li <%= @form_data[:id]=='Ш' ? 'class=active' :'' %> ><a href='/client/index/Ш'>Ш</a></li>
  <li <%= @form_data[:id]=='Щ' ? 'class=active' :'' %> ><a href='/client/index/Щ'>Щ</a></li>

  <li <%= @form_data[:id]=='Ы' ? 'class=active' :'' %> ><a href='/client/index/Ы'>Ы</a></li>

  <li <%= @form_data[:id]=='Э' ? 'class=active' :'' %> ><a href='/client/index/Э'>Э</a></li>
  <li <%= @form_data[:id]=='Ю' ? 'class=active' :'' %> ><a href='/client/index/Ю'>Ю</a></li>
  <li <%= @form_data[:id]=='Я' ? 'class=active' :'' %> ><a href='/client/index/Я'>Я</a></li>

</ul>



    <table class="table table-bordered table-condensed">
      <thead>
      <tr>
        <th class="col-md-1">#</th>
        <th>ФИО</th>
        <th>Адрес</th>
        <th>Телефоны</th>
        <th class="col-md-1">Действия</th>
      </tr>
      </thead>
      <tbody>

      <% @form_data[:clients].each.with_index do |client, index| %>
          <tr id="<%= client.id %>">
            <td><%= client.dogovor %></td>
            <td><%= client.fio %></td>
            <td><%= client.adress%></td>
            <td><%= client.client_phones.all %></td>
            <td>
              <a href="/client/edit/<%= client.id %>" type="button" class="btn btn-primary btn-xs"><i class="glyphicon glyphicon-edit"></i></a>
              <a href="/client/delete/<%= client.id %>" type="button" class="btn btn-danger btn-xs"><i class="glyphicon glyphicon-trash"></i></a>
            </td>
          </tr>
      <% end %>


      </tbody>
    </table>

